<div class="p-4 border rounded border-blue-100">
             <%= link_to employee_path(employee), class: "text-xl" do %>
            <%= employee.firstname %>
                <span class="font-bold">
                    <%= employee.surname %>
                </span>
      <% end -%>
                <div>
                    <span class="text-gray-500 text-sm">
                        <%= mail_to employee.email_address %>
                    </span>
                </div>
        <div><%= t("employee.kinds.#{employee.kind}") %></div>
                <div class="text-gray-200 text-sm">
            <%= Employee.human_attribute_name(:updated_at) %>
                <%= employee.updated_at%>
        </div>
</div>